body {
    background-image: url('/images/image.jpg');
    background-size:contain;
    min-width: 100%;
}

#main {
    min-height: 100vh;
}

.selecao{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
}
